@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Special+Elite");


* {margin: 0%; padding: 0%}

body {
  background: lavender;
  }

.contenedor{
  width: 100%;
  max-width: 1000px;
  margin: 0px auto;
}

.contenedor >div,
.contenedor .header,
.contenedor .footer{
  background: lavender;
  padding: 10px;
  border-radius: 3px;
}

.contenedor .header{
  background: #FFBA5C;
  }

.contenedor .header .logo{
  display: inline-block;
  vertical-align: top;
  padding: 1% 10% 0% 34%;
  }

  .contenedor .header nav{
    display: inline-block;  
  }

  .contenedor .header nav a{
    display: inline-block;
    color: beige;
    font-family: 'Special Elite', cursive;
    font-size: 23px;
    font-weight: bold; 
    text-decoration: none;
    margin: 40% 0% 0% 0%;
    padding: 5px 0px;
  }

  header nav a:hover {
    background: #fa9448;
    border-radius: 10px;
  }

  .contenido{
    text-align: center;
   }

  .desplazamiento{
    border: 2px solid #8190A5;
    background: lavender;
    width: 300px;
    height: 50px;
    border-radius: 15px;
    font-family: 'Special Elite', cursive;
    font-size: 20px;
    text-align: center;
    margin: 35px 0 15px 0;
    opacity: 0.5;
    }

  .resultado{
    border: 2px solid #8190A5;
    background: lavender;
    width: 300px;
    height: 150px;
    border-radius: 15px;
    font-family: 'Special Elite', cursive;
    font-size: 20px;
    text-align: center;
    margin: 20px 0 15px 0;
    opacity: 0.5;
    }

footer{
  background: #FFBA5C;
  border-radius: 3px;
  margin: 20px 0 0 0;
  grid-area: footer;
}

.button{
  background-color: #FFBA5C;
  color: beige;
  border: 0px;
  font-family: 'Special Elite', cursive;
  font-size: 15px;
  font-weight: bold;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  }

  .button:hover {
    background: #fa9448;
    border-radius: 10px;
  }

  .logofooter{
  position: absolute;
  bottom: 70px;
  margin-left: 650px;
  display: block;
  overflow: hidden
}
